<div class="container" [hidden]="filePreview">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Last Modified</th>
                <th>File Size</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of files" (click)="viewFile(file)" style="cursor:pointer">
                <th scope="row">
                    {{ file.metadata.originalname }}
                </th>
                <td>
                    -
                </td>
                <td>
                    {{ file.uploadDate | date: 'MM-dd-yyyy hh:mm:ss'}}
                </td>
                <td>
                    {{ formatBytes( file.length , 2) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" [hidden]="!filePreview">
    <button type="button" class="btn btn-secondary" (click)="filePreview = false; fileURL = 'about:blank';">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back</button>
    <div class="" style="margin-top: 10px;">
        <iframe id="iframe" [src]="fileURL | safe" width="800" height="500" allowfullscreen webkitallowfullscreen></iframe>
    </div>
</div>


